<p>Hola <% user.name.first %>,</p>

<p>Anonymouse users have requested access to <a href="<%- extra.datascape.links.link%>"><%= extra.datascape.displaySettings.title %></a>. 
To grant puplic access to <%= extra.datascape.displaySettings.title %>, simply check the 'share publicly' button in <%= extra.datascape.displaySettings.title %>'s
settings page</p>

