<p>Hola <%= user.name.first %>,</p>

<p><%= extra.datascape.parent.name.first %> <%= extra.datascape.parent.name.last %> has invited you to explore an interactive
datascape. <a href="<%- extra.datascape.links.link %>">Click to see it in Pcaso.</a></p>


