<p>Hola <% user.name.first %>,</p>

<p><%= extra.user.name.first %> <%= extra.user.name.last %> has invited you to explore an interactive
datascape. <a href="<%- extra.target.links.link %>">Click here to see it in your Pcaso gallery.</a></p>


