<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      
      <div class="splash-container" style="height: 100%;">
	<div class="splash">
          <h1 class="splash-head">Data driven painting</h1>
          <p class="splash-subhead" style="text-transform: none;">
            Paint anonymously or login to paint and publish your data
          </p>
          <p>
            <a href="/upload" class="pure-button pure-button-primary lets-go">Paint</a>
          </p>
	</div>
      </div>
      
    </main>
  </body>  
</html>
