<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      

      <div class="app-content">

	<div class="register-container">
	  
	  <h1>Sign-in help</h1>
	  
	  
	  <div style="margin-bottom: 3em">
	    <div class="register-or-container">
	      
	      <p>An link to reset your password has been sent to <%= email %></p>
	    </div>
	  </div>
	  
	</div>
      </div>
	  
	</div>
      </div>

      
    </main>
    <%- include footer.ejs %>  
  </body>  
</html>
