<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      <script src="/js/gallery-controller.js"></script>
      <div class="app-content">
	<h1>Gallery of company private datascapes</h1>
	<hr class="title-line">

	<div class="pure-g" id="datascape-tile-preview-anchor" style="height: inherit; display: flex;"></div>
	<div class="pure-g top-m-2">
	  
	  <div class="pure-u-1-2">
	    <button class="pure-button centered-m" id="prev-page">
	        <i class="fa fa-arrow-left fa-2x"></i>
	    </button>
	  </div>
	  
	  <div class="pure-u-1-2">
	    <button class="pure-button centered-m" id="next-page">
	      <i class="fa fa-arrow-right fa-2x"></i>
	    </button>
	  </div>

	</div>
      </div>   
    </main>
    <%- include footer.ejs %>  
  </body>  
</html>
