<head>	
  <meta charset="UTF-8">
  <title id="title">Pcaso</title>
  <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

  <meta name="description" value="Data driven painting service that allows users to view higher dimentional datasets." />
  <meta name="keywords" value="genetic genetics data metadata datadriven pcaso picasso clayton" />
  <meta name="application-name" content="Pcaso">

  <!-- PureCss -->
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/base-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">  
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">	

  <!-- Dataset viewer -->
  <link rel="stylesheet" href=" /css/dataset-viewer.css">	

  <!-- Custom style sheets -->
  <link rel="stylesheet" href="/css/pure-extras.css">
  <link rel="stylesheet" href="/css/stylesheet.css">

    
  <!-- Jquery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  
  <!-- D3 -->
  <script src="/components/d3/d3.min.js"></script>  

    

 
  <!-- Papa Parse -->
  <script src="/js/PapaParse/papaparse.js"></script>

  <!-- Form2js -->
  <script src="/js/form2js/src/form2js.js"></script>
  <script src="/js/form2js/src/js2form.js"></script>
  
  <!-- Upload controllers-->
  <script src="/js/helpers.js"></script>
  <script src="/js/upload-controller.js"></script>

</head>
