<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      <!-- Uncomment when using new datascapes on frontpage -->
      <!-- <script src="/js/index-controller.js"></script>   -->
      
      <div class="splash-container" style="height: 100%;">
	<div class="splash">
          <h1 class="splash-head"><span class="pcaso"></span></h1>
          <p class="splash-subhead" style="text-transform: none;">
            <i>Paint, share, and explore datascapes.</i>
          </p>
	  
	  <div id="datascape-preview-container">


	    <div class="pure-g">
	      <div class="pure-u-1-12" id="blank"></div>

	      
	      <div class="pure-u-11-12" id="tile-right" style="display: block;">
		<i style="float: left; padding-left: 45px;">Featured datascapes</i>
	    
	      </div>
	    </div>

	      
	    <div class="pure-g">
	      <div class="pure-u-1-24" id="blank"></div>

	      
	      <div class="pure-u-7-24" id="tile-right" style="display: block;">
		<div class="dataspace-tile pure-u-1-5"
		     style="background-image: url(http://pcaso.io/users-public-data/56dddea8810fcd935f5adac8/files/thumbnails/56dddf84810fcd935f5adaf2.png);">
		  <a href="http://pcaso.io/u/56dddea8810fcd935f5adac8/datascapes/ey1bse95ghkt9">
		    <h4>Human PCA</h4>
		  </a>
		</div>
	      </div>
	      
	      <div class="pure-u-1-3" id="tile-center" style="display: block;">
		<div class="dataspace-tile pure-u-1-5"
		     style="background-image: url(http://pcaso.io/users-public-data/56dddea8810fcd935f5adac8/files/thumbnails/56dde03c810fcd935f5adb6c.png);">
		  <a href="http://pcaso.io/u/56dddea8810fcd935f5adac8/datascapes/cavpkko11yvi">
		    <h4>Tumor genomes</h4>
		  </a>
		</div>
	      </div>
	      
	      
	      <div class="pure-u-7-24" id="tile-left" style="display: block;">
		<div class="dataspace-tile pure-u-1-5"
		     style="background-image: url(http://pcaso.io/users-public-data/56dddea8810fcd935f5adac8/files/thumbnails/56dde0c7810fcd935f5adbd1.png);">
		  <a href="u/56dddea8810fcd935f5adac8/datascapes/w0ixayok49529">
		    <h4>Country demography</h4>
		  </a>
		</div>
	      </div>
	      
	      <div class="pure-u-1-24" id="view-more">
		<a href="/gallery"><h3 class="" style="color: black; margin-top: 6.5em;"> More</h3></a>
	      </div>

	    </div>
	    
	    <!-- <div class="pure-g"> -->
	    <!--   <div class="pure-u-1-24" id="blank"></div> -->
	      
	    <!--   <div class="pure-u-7-24" id="tile-left"></div> -->
	      
	    <!--   <div class="pure-u-1-3" id="tile-center"></div> -->
	      
	    <!--   <div class="pure-u-7-24" id="tile-right"></div> -->
	      
	    <!--   <div class="pure-u-1-24" id="view-more"> -->
	    <!-- 	<a href="/gallery"><h3 class="top-m-3"> More</h3></a> -->
	    <!--   </div> -->
	      
	    <!-- </div> -->
	  </div>
	  
          <p>
	    
	    <% if (user) { %>
	    
            <a href="/upload" class="pure-button pure-button-success lets-go"><i class="fa fa-paint-brush"></i> Paint new datascape</a>
	    
	    <% } else { %>
	    
	    <a href="/sign-in" class="pure-button pure-button-success lets-go">Sign in to paint new datascape</a>

	    <% } %>
          </p>
	</div>
      </div>
      
    </main>
  </body>  
</html>
