<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      <script src="/js/notifications-controller.js"></script>
      
      <div class="app-content">
	<div class="account-container">
	  <h1 class="title">Notifications</h1>
	  <hr>
	  
	  <div id="notifications-container"></div>
	</div>
      </div>
    </main>
    <%- include footer.ejs %>  
  </body>  
</html>
