<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      

      <div class="app-content">

	<div class="register-container">
	  
	  <h1>Create new password</h1> 

	  <div style="margin-bottom: 3em">
	    <div class="register-or-container">
	      <form class="pure-form pure-form-aligned registration-form" action="/recover-account/<%- recoveryID %>" method="post">
		
		<div class="pure-control-group">
		  <label for="email">Confirm Email</label>
		  <input id="email" name="email" type="email" placeholder="Email Address">
		</div>
		
		<div class="pure-control-group">
		  <label for="password">New password</label>
		  <input id="password" name="password" type="password" placeholder="Password">
		</div> 

		<div class="pure-control-group">
		  <label for="confirmPassword">Confirm password</label>
		  <input id="confirmPassword" name="confirmPassword" type="password" placeholder="Password">
		</div> 
		
		<button type="submit" class="pure-button pure-button-primary top-m-1">Reset password</button>
	      	
	      </form>
	    </div>
	  </div>
	</div>
      </div>
	  
	</div>
      </div>

      
    </main>
    <%- include footer.ejs %>  
  </body>  
</html>
