<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>

      <div class="app-content">
	<h1 class="page-title">Privacy Policy</h1>
	<hr class="title-line">
	<div class="about-container">
	  
	  <p>We greatly respect your privacy, and explain below we how we handle your personal information. In using Pcaso.io, you agree to this policy.</p>

	  <h3>Personal data</h3><p>
	    We won't knowingly share, with anyone else (except as required by law), any personal data about you that you don't expressly leave public in your profile,
	    or post in a datascape or comment accessible to another user.</p>
	  
	  <h3>Posted data</h3><p>
	    We won't mine or knowingly share, with anyone else (except as required by law), any data that you upload to paint, name, caption, or comment on a datascape,
	    save any Pcaso.io user(s) with whom you implicitly or explicitly permit such sharing via the public or selective sharing setting (or by other written notice from you)
	    for a given datascape. Please note, however, that someone viewing one of your datascapes could, in principle, access the full set of underlying data by
	    exhaustively hovering on your datascape.</p>
	  
	  <h3>Logging</h3><p>
	    To track both the use and performance of Pcaso.io, we may log, for each visit to a Pcaso.io page, the date and time, internet protocol (IP) address, browser type,
	    Internet Service Provider (ISP), referring and exit pages, and number of clicks. We use this data to analyze aggreate use trends, and administer the site.</p>
	</div>
      </div>
    </main>
    <%- include footer.ejs %>  
  </body>
</html>
