<!doctype html>
<html>
  <head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
      body         { padding-top:80px; word-wrap:break-word; }
    </style>
  </head>
  <body>
    <div class="container">

      <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
      </div>

      <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3><span class="fa fa-user"></span> Local</h3>

            <% if (user.email) { %>
            <p>
              <strong>id</strong>: <%= user._id %><br>
              <strong>email</strong>: <%= user.email %><br>
              <strong>password</strong>: <%= user.password %><br>
	      <strong>Mongoose ID</strong>: <%= user._id %>
            </p>
            
	    <h1> Test loggin</h1>


	    <a href="/profile2" class="btn btn-default">Profile2</a>
	    <a href="/delete-account" class="btn btn-default">Delete Account</a>	    

            <a href="/unlink/local" class="btn btn-default">Unlink</a>
            <% } else { %>
            <a href="/connect/local" class="btn btn-default">Connect Local</a>
            <% } %>

          </div>
        </div>

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>
	  
          </div>
        </div>
      </div>
      <div class="row">

        <!-- TWITTER INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-info"><span class="fa fa-twitter"></span> Twitter</h3>
          </div>
        </div>

        <!-- GOOGLE INFORMATION -->
        <div class="col-sm-6">
          <div class="well">
            <h3 class="text-danger"><span class="fa fa-google-plus"></span> Google+</h3>

          </div>
        </div>
      </div>

      <div class="text-center">
        <p>A demo by <a href="http://scotch.io">Scotch</a>.</p>
        <p>Visit the <a href="http://scotch.io/tutorials/javascript/easy-node-authentication-setup-and-local">tutorial</a>.</p>
      </div>

    </div>
  </body>
</html>
