<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      

      <div class="content">

	<div class="form-container">
	  <h1> Sign up</h1>
	  
	  <% if (message.length > 0) { %>
	  <div class="pure-alert pure-alert-warning"><%= message %></div>
	  <% } %>
	  
	  <form class="pure-form pure-form-aligned" action="/sign-up" method="post">
              

              <div class="pure-control-group">
		<label for="firstname">First same</label>
		<input id="firstName" name="firstName" type="text" placeholder="First name"> 
              </div>

              <div class="pure-control-group">
		<label for="lastname">Last same</label>
		<input id="lastName" name="lastName" type="text" placeholder="Last name">
              </div>

	      <div class="pure-control-group">
		<label for="email">Email Address</label>
		<input id="email" name="email" type="email" placeholder="Email Address">
              </div>
	      
              <div class="pure-control-group">
		<label for="password">Password</label>
		<input id="password" name="password" type="password" placeholder="Password">
              </div> 
	      <div class="pure-control-group">
		<label for="username">Username</label>
		<input id="username" name="username" type="text" placeholder="Username">
              </div>

	      
	      <label for="cb" class="pure-checkbox terms-and-conditions-cb">
		<input id="cb" type="checkbox"> I've read the
		<a href="/terms-and-conditions">terms and conditions</a>
	      </label>
              
	      <button type="submit" class="pure-button pure-button-primary">Submit</button>
	  </form>
	  <p> Already have an account? sign-in <a href="/sign-in">here</a>.</p>
	</div>
      </div>

      
    </main>
    <%- include footer.ejs %>  
  </body>  
</html>
