<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      

      <div class="app-content">

	<div class="form-container">
	  
	  <% if (message.length > 0) { %>
	  <div class="pure-alert pure-alert-warning"><%= message %></div>
	  <% } %>
	  
	  <form class="pure-form pure-form-aligned" action="/sign-up" method="post">
              

              <div class="pure-control-group">
		<label for="firstname">First name</label>
		<input id="firstName" name="firstName" type="text" 
		       maxlength="25" placeholder="First name"> 
              </div>

              <div class="pure-control-group">
		<label for="lastname">Last name</label>
		<input id="lastName" name="lastName" type="text"
		       maxlength="25" placeholder="Last name">
              </div>

	      <div class="pure-control-group">
		<label for="username">Username</label>
		<input id="username" name="username" type="text"
		       maxlength="20" pattern="[a-zA-Z0-9\_\-]+"
		       oninvalid="setCustomValidity(
				  'Only alphanumeric character, underscores, and dashes are allowed'
				  )"		       
		       placeholder="Username">
              </div>

	      <div class="pure-control-group">
		<label for="email">Email</label>
		<input id="email" name="email" type="email" placeholder="Email Address">
	      </div>
	      
              <div class="pure-control-group">
		<label for="password">Password</label>
		<input id="password" name="password" type="password" placeholder="Password">
              </div> 

	     	      
	      <label for="cb" class="pure-checkbox terms-and-conditions-cb">
		<input id="cb" type="checkbox"> I accept the
		<a href="/terms-and-conditions">terms and conditions.</a>
	      </label>
              
	      <button type="submit" class="pure-button pure-button-primary">Sign up</button>
	  </form>
	  <p> Already have an account? <a href="/sign-in">Sign in</a>.</p>
	</div>
      </div>

      
    </main>
    <%- include footer.ejs %>  
  </body>  
</html>
