<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>

      <div class="app-content">
	<h1 class="page-title">Terms and Conditions</h1>
	<hr class="title-line">
	<div class="about-container">
	  
	  <p>By using Pcaso.io, you agree to the terms and conditions below, which govern all use, content, services, and products of Pcaso.io.</p>

	  <h3>Your account:</h3>
	  <p> If you get a Pcaso.io account, you must keep it secure, take responsibility for all activities associated with it,
	    and promptly tell us (by emailing help@pcaso.io) of any unauthorized use or other such security breach.
	    We take no liability for any act or omission by you, including damages of any kind resulting from such acts or omissions.</p>
	  
	  <p>Without limiting any representation or warranty, we may, at our sole discretion, (i) refuse or remove any content deemed to
	    violate any Pcaso.io policy, and/or (ii) terminate or deny Pcaso.io access to anyone.</p>


	  <h3>Visitors' responsibilities:</h3>
	  <p> We take no responsibility for the content, use, or effect of any Pcaso.io-posted or -linked material, nor vouch such material as accurate, useful, or non-harmful.
	    You must protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful content.
	    Pcaso.io may inadvertently contain erroneous, offensive, indecent, or otherwise objectionable content, or/and material that violates others' privacy, publicity, or other rights.
	    We take no responsibility for any harm resulting from visitors or others encountering or using such content.</p>


	  <h3>Copyright:</h3>
	  <p> We respect intellectual property rights, and expect you to do so too.
	    You vouch that you have rightful permission to post, or link to, any material that you post, or link to, at Pcaso.io.
	    If you believe that any Pcaso-posted or -linked material infringes your or someone else's copyright, please tell us by emailing help@pcaso.io.
	    We will review and respond, as required or appropriate, by removing infringing material or link(s).
	    We may terminate an account-holder's access to and use of the Website if (s)he repeatedly infringes the copyright or other rights of Pcaso.io or others.</p>


	  <h3>Intellectual Property:</h3>
	  <p> This Agreement grants you no intellectual property, or any title or interest in such property.
	    Your use of Pcaso.io grants you no right or license to reproduce or otherwise use any Pcaso.io or third-party trademarks.</p>
	  

	  <h3>Changes:</h3>
	  <p> We may change this agreement at our sole discretion, so please check this Agreement periodically for such changes.
	    Continuing to visit Pcaso.io means that you accept such changes.</p>
	    

	  <h3>Termination:</h3>
	  <p> We may limit or terminate your access to Pcaso.io at any time, with or without cause or notice.
	    If you wish to terminate this Agreement or your Pcaso.io account, you may tell us (by emailing help@pcaso.io.) and delete your posted or/and linked material.
	    All provisions of this Agreement which by their nature should survive such termination shall survive termination, including, without limitation,
	    ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p>


	  <h3>Disclaimer of Warranties:</h3>
	  <p> We provide Pcaso.io as-is, with no warranty of any kind, express or implied.
	    Neither we, nor our suppliers and licensors, warrant that Pcaso.io will be continuously accessible or otherwise error-free.
	    You accept that you exchange data with Pcaso.io, and otherwise obtain our content or services, solely at your own risk.</p>
	  


	  <h3>Limitation of Liability:</h3>
	  <p> Pcaso.io, its suppliers, and licensors hold no liability for any subject matter of this agreement, under any contract, negligence, 
	    strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement or
	    substitute products or services; (iii) interruption of use or loss or corruption of data; or (iv) any monetary amount.
	    We hold no liability for any failure or delay due to matters beyond our reasonable control.
	    The foregoing shall not apply to the extent prohibited by applicable law or regulation.</p>



	  <h3>General Representation and Warranty:</h3>
	  <p> You warrant that (i) you will use Pcaso.io only in accordance with the Pcaso.io Privacy Policy, with this Agreement, and with all applicable laws and
	    regulations (including without limitation any local laws or regulations in your country, city, or other governmental area, regarding online conduct and
	    acceptable content, and including all applicable laws regarding transmission of technical data to or from the country where you live or access Pcaso.io) and
	    (ii) your use of Pcaso.io will not infringe or misappropriate anyone's intellectual property or other right.</p>

	  
	  
	  <h3>Indemnification:</h3>
	  <p> You agree to indemnify and hold harmless Pcaso.io, its contractors, and its licensors, and their respective directors, officers, employees and agents 
	    from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited
	    to your violation of this Agreement.</p>



	  <h3>Miscellaneous:</h3>
	  <p> This Agreement constitutes the whole agreement between Pcaso.io and you, and may only be modified by a written amendment signed by an authorized executive
	    of Pcaso.io, or by us posting a revised version at Pcaso.io. Except to the extent applicable law, if any, provides otherwise, this Agreement, access and use
	    of Pcaso.io is governed by the laws of New York and the United States of America. If any part of this Agreement is held invalid or unenforceable, that part
	    will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any
	    term or condition of this Agreement or any breach thereof, in any one instance, will not  waive such term or condition or any subsequent breach thereof.
	    You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; Pcaso.io may assign its
	    rights under this Agreement without condition.This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>
  
	</div>
      </div>
    </main>
    <%- include footer.ejs %>  
  </body>
</html>
