<!doctype html>
<html>
  <%- include head.ejs %>  
  <body>
    <%- include header.ejs %>      
    <main>
      
      <div class="content">
	
	<h1> Hello </h1>
	
      </div>
    </main>
    <%- include footer.ejs %>  
  </body>  
</html>



