.pull-right {
    position: absolute;
    right: 2em;
}

a{

    text-decoration: none;
}

.nav {
    padding: .5em 2em .5em 2em;

    /* No a fan */
    background-color: #757575;
    
/* background-color: #2E2E2E; */
/* border-bottom: 0.4em solid #2980B9; */
}

.nav .child{
    padding: 5px 0em 0px 0px;
}


body {
    background: #F8F8F8;
}

.app-footer{
    margin-top: 2em;
    margin-bottom: 6em;
}

.centered-m{
    margin: auto !important;
    display: block !important;
}

.paint-datascape{
    border-radius: 20px;
    margin-left: .5em;
    padding-left: 12px;
    padding-right: 12px;
}

/* Pcaso span */
.pcaso:before{
    content: "Pca";
}
.pcaso:after{
    content: "so";
    color: #787878;
}


.pure-menu-active>.pure-menu-link, .pure-menu-link:hover, .pure-menu-link:focus {
    color: #FFF;
    background-color: inherit;
}

.center{
    text-align: center;
}

.pure-menu-item, .pure-menu-link{
    color: #ECF0F1;
    font-size: large;
}

.info-text{
    font-size: 16pt;
    display: inline-block;
    vertical-align: middle;
}

.email-list-container{
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.radio-select{
    text-align: left !important;
    width: inherit !important;
}

.radio-select input{
    margin-right: .5em;
   
}

.avatar{
    border-radius: 5px;
}

.remove-email{ 
    color: #2F2F2F; 
    position: relative;
    background-color: white;
}  

.share-with-email{
    margin-left: .5em !important;
    margin-right: 1em !important;
}

#shared-user-collection{
    height: 240px;
    overflow-y: auto;
}

.top-m-1{ margin-top: 1em !important;}
.top-m-2{ margin-top: 2em !important;}
.top-m-3{ margin-top: 3em !important;}
.top-m-4{ margin-top: 4em !important;}

.splash-container {
    z-index: 1;
    overflow: hidden;
    /* The following styles are required for the "scroll-over" effect */
    width: 100%;
    height: 88%;
    left: 0;
    position: fixed !important;
}


.splash {
    /* absolute center .splash within .splash-container */
    width: 90%;
    margin: auto;
    position: absolute;
    top: 40px;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
 
}

/* This is the main heading that appears on the blue section */
.splash-head {
    font-size: 75px;
    font-weight: bold;
    padding: .5em 1em;
    font-weight: 100;
    line-height: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.splash-head h1{
    margin: 0 0 0 0;
}


/* This is the subheading that appears on the blue section */
.splash-subhead {
    /* color: #2980B9; */
    letter-spacing: 0.05em;
    font-size: 24pt;
    opacity: 0.8;
    margin-top: 0;
    margin-bottom: 2em;
}

.lets-go{
    margin-top: 1em;
    border-radius: 8px;
    border: 2px #2980B9;
    padding: .7em 2.7em;
    font-size: 125%;
    padding-left: 1em;
    padding-right: 1em;
    margin-top: 2em;
}

.app-content {
    width: 78%;
    max-width: 1500px;
    min-width: 350px;
    margin: auto;
    margin-top: 3em;
}

.title-line{
    border: 0;
    height: 1px;
    background-color: #1F75D6;
    background-image: linear-gradient(to right, #B7C2FF, #1F75D6, #B7C2FF );
}

.about-container{
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(41, 128, 185, 0.30);
    border-width: 1px;
    background-color: white;
    padding: 1em;
}

.form-container {
    margin: 0 auto;
    text-align: center;
}

.form-container h1{
    font-size: 3em;
    color: #1F75D6;
}

.terms-and-conditions-cb{
    margin: 1em auto 2em auto !important;
}


.account-container .title{
}

.trumbowyg{
    background-color: white;
}

.account-container hr{
    border: 0;
    height: 1px;
    background-color: #1F75D6;
    background-image: linear-gradient(to right, #B7C2FF, #1F75D6, #B7C2FF );
}

.dataset-title{
    margin-top: 2em;
}

.basic-form{
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(41, 128, 185, 0.30);
    border-width: 1px;
    margin-top: 2em;
    background-color: white;
    padding: 1em;
}

.submit-button{
      margin-top: 2em;
      margin-right: 1em;
}

.upload-container hr{
    border: 0;
    height: 1px;
    background-color: #1F75D6;
    background-image: linear-gradient(to right, #B7C2FF, #1F75D6, #B7C2FF );
}


#user-select{
    margin-top: 2em;
}

#table-display-container{
    overflow: auto;
    margin-top: 2em;
}

#data-display-table{
    text-align: center;
    display: inline-box;
    max-height: 150em;
    display: -moz-inline-box;
}

#data-display-table thead{
    background-color: #2980B9;
    color: #ECF0F1;
    text-align: center;
}

#data-display-table tbody{
       background-color: #FFF;
}

.profile-main-display{
    min-height: 25em;
    max-height: 35em;
    margin-bottom: 6em;
}


.dataspace-tile{
    width: 16em;
    padding: .5em;
    text-align: left;
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(41, 128, 185, 0.30);
    border-width: 1px;
    background-size: cover;
    background-repeat: no-repeat;
    height: 16em;
    position: relative;
    margin: .5em 5px 0 4px;
/* display: flex; */
}


.dataspace-tile a{
    z-index: 100;
    overflow: auto;
    color: #353535;
    align-items: stretch;
    width: 100%;
    text-shadow: -.5px -.5px 0 #FFFFFF, .5px -.5px 0 #FFFFFF, -.5px .5px 0 #FFFFFF, .5px .5px 0 #FFFFFF;
}


.dataspace-tile h4{
    margin-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    
    text-decoration: none;
    text-transform: capitalize; 
        
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.dataspace-tile .view-count{
    margin-top: 0.25em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
    text-transform: capitalize; 
}

.dataspace-tile .visibility{
    margin-top: 0.25em;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
}
 
.capitalize { text-transform: lowercase; }
.dataspace-tile .visibility span { display: inline-block; }
.dataspace-tile .visibility span:first-letter { text-transform: uppercase; }


.bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: .2em;
    margin-bottom: .2em;   
   
}

.fa-2x{ 
    font-size: 1.5em !important;
}


.notifications-container{
    width: 75%;
    max-width: 1250px;
    min-width: 350px;
    margin: auto;
    margin-top: 3em;
}


.notification{
    margin-top: 1em;
    background-color: white;
    text-align: center;
    border-radius: 5px;
}

.notification:hover{
    margin-top: 1em;
    background-color: #DFE3FF;
    text-align: center;
    border-radius: 5px;
}

.notification-content{
    align-self: center;
    color: black;
}

.rotate-on-hover{
    
    -webkit-transition: -webkit-transform 1s ease-in-out;
    -ms-transition: -ms-transform 1s ease-in-out;
    transition: transform 1s ease-in-out;
}

.rotate-on-hover:hover{
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);
    -webkit-transform:rotate(360deg);
}


.enable-scrolling{
    overflow-y: auto;
}


.oauth-link{
    padding: 1.2em 1em 1.2em 1em;
    color: black;
    background-color: white;
    border-radius: 100px;
    border-style: solid;
    border-color: rgba(41, 128, 185, 0.30);
    border-width: 1px;    
    display: inline-table;
    margin: 1em 0 1em 0;
    /* float: right; */
    /* margin-right: 2em; */
}

.oauth-link .fa-google-plus{
    color: #DB4437;
    margin-right: .5em;
}

.center-text{ 
    text-align: center;
}

.register-container {
    margin: 0 auto;
    text-align: center;
    width: 75%;
}

.register-container h1{
    font-size: 3em;
    color: black;
    /* margin-bottom: 2em */
}

.register-container .register-or-container{
    margin-top: 1em;
}

.register-container .register-or-container .register-or{
}

.registration-form{
    padding-top: 2em;
    padding-bottom: 1em;
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(41, 128, 185, 0.30);
    border-width: 1px;    
    margin-left: 1em;
    margin: auto;
    width: 30em;
}
.bio-container{
    margin-left: 2em;
    margin-right: 2em;
}

.bio {
    background-color: white;
    border-radius: 8px;
    border-style: solid;
    border-color: rgba(41, 128, 185, 0.30);
    border-width: 1px;    
    padding: 1em 2em 1em 2em;
}

.position-relative{
    position: relative;
}

.settings-container{
    height: 100%;
    position: absolute;
    padding-left: 2em;
    padding-right: 2em;
}

.bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
}

.datascape-tile-preview-container{
    position: absolute;
    height: 100%;
    width: 100%;
}

#datascape-tile-preview-anchor{
    max-height: inherit;
    overflow-x: inherit;
    overflow-y: auto;
    position: relative;
    height: 20em;
}


.fa-twitter{
    color: #55acee;
}

.datascape-icon{
    color: #757575;
    margin-right: .2em;
    margin-left: .1em;
}

.datascape-icon:hover{
    color: #3B3B3B;
}