<p>Hola!,</p>

<p><%= extra.user.name.first %> <%= extra.user.name.last %> has invited you to explore an interactive
datascape. <a hreh="<%- config.service.dmain %>/sing-up">Click here to sign-up</a> and
<a href="<%- extra.target.links.link %>">Click here to see it in your Pcaso gallery.</a></p>


