<p>Hola!</a>

<p><a href="<%- extra.recovery.links.link %>">Click to reset your Pcaso password.</a></p>
<p>(Or, if it wasn't you who asked to reset it, please <a href="mailto:npearson@nygenome.org">tell us</a>.)</p>
